.item-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#41a1a3;
}

.item-detail{
    width: 500px;
    height: 650px;
    border-width: 4px;
    border-style: solid;
    border-color: #41a1a3;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: 23px;
    background-color: rgba(8, 6, 14, 0.700);
}

.img_detail {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    align-items: center;
}

.img_product {
    width: 90%;
    border-radius: 5px;
}
.text {
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 23px;
}

h2{
    color: #41a1a3;
}

.detail {
    display: flex;
    justify-content: center;
}

.link_tostify {
    text-decoration: none;
    color:rgb(120, 120, 120)
}

.button_detalle {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #000000;
    border:#41a1a3 2px solid;
    background-color: #41a1a3;
    border-radius: 5px;
    padding: 6px;
    width: 200px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
}

.button_detalle:hover {
    color: #000000;
    border:#93f6f8 2px solid;
    background-color: #ffffff;
}