.listPro{
    display: flex;
    
}

.product{
    border-width: 4px;
    border-style: solid;
    border-color: #41a1a3;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: 23px;
    padding: 23px;
    margin: 23px;
    background-color: rgba(8, 6, 14, 0.790);
    
}


.btn-agregar {
    height: 50px;
    width: 55px;
    font-size: 12px;
    font-weight: bold;
    border:#41a1a3 2px solid;
    color:#000000;
    background-color: #41a1a3;
    border-radius: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}


.product img {
    width: 100%;
    border-radius: 5px;
}