.listPro{
    display: flex;
    justify-content: space-between;
}

.product{
    width: 300px;
    height: 450px;
    border-width: 4px;
    border-style: solid;
    border-color: #41a1a3;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: 23px;
    padding: 23px;
    margin: 23px;
    background-color: rgba(8, 6, 14, 0.700);
    
}

.product h1{
font-size: 25px;
margin-top: 2rem;
}

.btn-detalle {
    font-size: 15px;
    text-align: center;
    color: #000000;
    border:#41a1a3 2px solid;
    background-color: #41a1a3;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
}

.btn-detalle:hover {
    color: #000000;
    border:#93f6f8 2px solid;
    background-color: #ffffff;
}

.product img {
    width: 100%;
    border-radius: 5px;
}